<%inherit file="base.html"/>

<%def name="headIncludes()">
    <title>Forbidden</title>
    <style>
        .wrap {
            height: 250px;
            width: 60%;
            margin: 0 auto;
            margin-top: 50px;
            padding:10px;

        }

        .wrap h1 {
            padding: 20px 20px 20px 5px;
        }

        .wrap p {
            font-size: 20px;
            padding-left: 20px;
        }

    </style>
</%def>

<%def name="body()">
    <div class='wrap'>

        <h1>403 Forbidden</h1>
        <p>You cant's access this page</p>


    </div>
</%def>