<%inherit file="base.html"/>

<%def name="headIncludes()">
    <title>Edit User</title>
    <link rel="stylesheet" href="/assets/css/flash.css">
    <script src="/assets/js/jquery-2.1.1.min.js"></script>
    <script src="/assets/js/autosubmit.js"></script>
</%def>


<%def name="body()">

<div id='wrap'>

    <hgroup class="wrap">
        <h1>Edit User</h1>
    </hgroup>
    <div id='flash' style='display:none;'><div class='error'></div></div>
    <form id='user-form' method="post" action='/user/${user.uid}/edit' novalidate autocomplete="off">

            <p>
                <label>Real name:</label>
                <input type='text' name='real_name' value="${user.real_name}">
            </p>

            <p>
                <label>Status:</label>
                <select name='status' id='status' value='${user.status}'>
                % for name, value in statuses.items():
                    <option value="${name}">${value}</option>
                % endfor
                </select>
            </p> 
            <p>
                <label>Role:</label>
                <select name='role' id='role' value='${user.role}'>
                % for name, value in roles.items():
                    % if name == user.role:
                    <option value="${name}" selected>${value}</option>
                    % else:
                    <option value="${name}">${value}</option>
                    % endif
                % endfor
                </select>
            </p>
            <p>
                <label>Password:</label>
                <input type='password' name='password'>
            </p>
            <p>
                <label> New Password:</label>
                <input type='password' name='newpass1'>
            </p>
            <p>
                <label>Password Confirm:</label>
                <input type='password' name='newpass2'>
            </p>
            <p>
                <label>Email:</label>
                <input type='text' name='email' value="${user.email}">
            </p>

        <aside>
            <div  class='btn' id='update'>Update</div>
        </aside>
    </form>

        <script>
        $('#update').on('click', function(e) 
        {
            var $form = $('#user-form');
            $form.autosubmit();

        });
        </script>

</section>

</%def>