@charset "utf-8";
/* CSS Document */

intput[type=email], input[type=text], input[type=password], input[type=url] {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    width: 200px;
    margin: 0;
    padding: 0 8px;
    background: #FFF;
    border: 1px solid #707070;
    border-top-color: #888888;
    border-radius: 2px;
}
intput[type=email]:hover, input[type=text]:hover, input[type=password]:hover, input[type=url]:hover {
    border: 1px solid #0066FF;
   /* border-top: #a0a0a0;*/
    box-shadow: inset 0 1px 2px rgba(0.1, 0, 0, 0);
}
intput[type=email]:focus, input[type=text]:focus, input[type=password]:focus, input[type=url]:focus {
    border: 1px solid #fe580f;
    box-shadow: inset 0 1px 2px rgba(0, 0.1, 0, 0);
}



.e-button {
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size: 15px;
    font-weight: bold;
    height: 30px;
    padding: 0 8px;
    line-height: 30px;
    border-radius: 2px;
    transition: all 0.218s;
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    user-select: none;
    cursor: default;
}
*+html .e-button {
    min-width: 70px;
}
button.e-button, input[type=sumbit].e-button {
    height: 40px;
    line-height: 40px;
    vertical-align: bottom;
    margin: 0;
}
.e-button-submit {
    border: 1px solid #3681fc;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #3e86fd;
    background-image: linear-gradient(top, #3e86fd, #3e86fd);
}
.e-button-submit:hover {
    border: 1px solid #3681fc;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #176dfc;
    background-image: linear-gradient(top, #3e86fd, #176dfc);
}

label {
    width: 80px;
    height: 37px;
    display: inline-block;
}

select {
    height: 34px;
    line-height: 34px;
    font: 15px/22px "Helvetica Neue", sans-serif;

    border: 1px solid;
    border-radius: 0 5px 5px 0;

    background: #fff;
    color: #7f8b9e;

    cursor: pointer;
}

select + .arrow {
        
    top: 18px;
    margin-left: -24px;

    pointer-events: none;

    border-top: 4px solid #aab3c0;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

form input[type=text], input[type=password], input[type=email] {
    height: 30px;
    width: 200px;
    margin: 5px auto;
}

form label {
    width: 120px;
}

hgroup {
    overflow: hidden;
}

hgroup h1 {
        float: left;
        font-size: 29px;
        line-height: 120px;
        font-weight: 300;
    }

    hgroup nav {
        float: right;
        line-height: 120px;
    }

#wrap {

    margin-left: 20px;


}


/*
    Buttons
*/



.btn {
    display: inline-block;
    padding: 0 22px;

    color: #fff;
    background: #6aad28;

    font-size: 13px;
    line-height: 38px;
    font-weight: bold;

    border: none;
    border-radius: 5px;

    /* span.btn */
    cursor: pointer;
}
    .btn:hover {
        background: #4f8c12;
    }

    .btn.secondary {
        background: #a4adbb;
    }

        .btn.secondary:hover {
            background: #848f9f;
        }

    .btn.blue {
        background: #7599d2;
    }

        .btn.blue:hover {
            background: #5479b2;
        }

    .btn.red {
        background: #c4533d;
    }

        .btn.red:hover {
            background: #a03621;
        }
